version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t rashmikasvr777/farmstream:latest .
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
