version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            cd client
            npm install
      - run:
          name: Run tests
          command: |
            cd client
            npm test
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            cd client
            docker build -t rashmikasvr777/farmstream:latest .
workflows:
  version: 2
  build_and_test:
    jobs:
      - build

