version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:18.17.0
    steps:
      - checkout
      - run: npm install
      - run: npm test
      # add further build steps as needed
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
